<template>
  <div class="question-box-container">
    <b-jumbotron>
      <template slot="lead">
        {{currentQuestion.question}}
      </template>

      <hr class="my-4">

      <b-list-group>
        <b-list-group-item
           v-for="(answer,index) in answers"
           :key="answer"
           @click="selectAnswer(index)"
           :class="[selectedIndex === index ? 'selected' :'']"
        >
          {{answer}}
        </b-list-group-item>
      </b-list-group>

      <b-button class="btn" variant="primary" href="#">Submit</b-button>
      <b-button @click="next" variant="success" href="#">Next</b-button>
      <span>This is a hotfix!</span>
    </b-jumbotron>
  </div>
</template>

<script>
import _ from 'lodash'
export default {
  props:{
    currentQuestion: Object,
    next: Function,
    increment: Function
  },
  data(){
    return {
      selectedIndex:null,
      shuffledAnswers:[],
    }
  },
  computed:{
    answers(){
      let answers = [...this.currentQuestion.incorrect_answers]
      answers.push(this.currentQuestion.correct_answer)
      return answers
    }
  },
  watch:{
    currentQuestion:{
      immediate:true,
      handler(){
        this.selectedIndex = null;
        this.shuffleAnswers()
      }
    }
  },
  methods:{
    selectAnswer(index){
      this.selectedIndex = index
    },
    shuffleAnswers(){
      let answers = [...this.currentQuestion.incorrect_answers, this.currentQuestion.correct_answer]
      this.shuffledAnswers = _.shuffle(answers)
    },
    submitAnswers(){
      let isCorrect = false

      if(this.selectedIndex === this.correctIndex){
        isCorrect = true
      }

      this.increment
    },
    newMethod(){

    }
  }
}
</script>

<style scoped>
.list-group{
  background-color:red
}

.list-group-item:hover{
  background-color: pink;
  cursor:pointer;
}

.btn{
  margin: 5px
}

.selected{
  background-color: lightblue
}

.correct {
  background-color: lightgreen
}

.incorrect {
  background-color: red
}
</style>
